[submodule "tools/rtems-source-builder"]
	path = tools/rtems-source-builder
	url = git://git.rtems.org/rtems-source-builder.git
[submodule "rtems-src/rtems"]
	path = rtems-src/rtems
	url = git://git.rtems.org/rtems.git
	branch = master
